<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230123122910-gvekomeklf4nfc8a42jitvq6v043fl7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230123122910-gvekomeklf4nfc8a42jitvq6v043fl7a</string>
	<key>API_KEY</key>
	<string>AIzaSyAUUcNPCqWAsfr9kxAYRxFMqhEUQ72rq3c</string>
	<key>GCM_SENDER_ID</key>
	<string>230123122910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ognjenlazic.planinarskaObuka</string>
	<key>PROJECT_ID</key>
	<string>planinarska-obuka-4bb6c</string>
	<key>STORAGE_BUCKET</key>
	<string>planinarska-obuka-4bb6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230123122910:ios:4125bd2684600c3f49524f</string>
</dict>
</plist>